<!--footer上border-->
<div class="container-fliud">
    <div class="border-top border-dark border-3 border-md-3 mt-0"></div>
</div>

<!--footer-->
<div class="container text-center py-7 py-md-8">
    <p class="fs-8 fs-md-1">
        © 7TAO七逃. All Rights Reserved
    </p>
</div>