.banner {
  max-height: 518px;
  min-height: 350px;
  object-fit: cover;
}

.cate {
  width: 40px;

  @include pc {
    width: 80px;
  }
}

.activity-photo {
  height: 210px;
  width: 100%;

  @include pc {
    height: 255px;
  }
}

.activity {
  width: 20px;

  @include pc {
    width: 24px;
  }
}

.chatgpt-photo {
  height: 158px;
  width: 100%;
  object-fit: cover;
  object-position: 70% 30%;

  @include pc {
    height: 317px;
  }
}

.chatgpt-list {
  outline: 1px solid #000;
  border-left: 4px solid #000;
}

.chatgpt-btn {
  width: 100%;
}