<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>7TAO</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container-fluid mt-8 mb-11">
      <div class="banner text-light">
        <p class="fs-5 pt-11 ms-11">19 MAY 2023</p>
        <p class="fs-3 text-center banner-title mb-5">隔牆有耳-沒有草東的派對</p>
        <p class="fs-1 text-center mb-7">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
          帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center">
            <a href="#">
              <img src="../assets/images/cate01.svg" alt="裝飾圖" width="80" height="80">
              <p class="fs-3 mt-3">演出</p>
            </a>
          </div>
        </div>

        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center">
            <a href="#">
              <img src="../assets/images/cate02.svg" alt="裝飾圖" width="80" height="80">
              <p class="fs-3 mt-3">聯誼</p>
            </a>
          </div>
        </div>

        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center">
            <a href="#">
              <img src="../assets/images/cate03.svg" alt="裝飾圖" width="80" height="80">
              <p class="fs-3 mt-3">展覽</p>
            </a>
          </div>
        </div>

        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center">
            <a href="#">
              <img src="../assets/images/cate04.svg" alt="裝飾圖" width="80" height="80">
              <p class="fs-3 mt-3">美食</p>
            </a>
          </div>
        </div>

        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center">
            <a href="#">
              <img src="../assets/images/cate05.svg" alt="裝飾圖" width="80" height="80">
              <p class="fs-3 mt-3">戶外</p>
            </a>
          </div>
        </div>

        <div class="col-4 col-lg-2">
          <div
            class="border border-2 border-dark category text-center d-flex align-items-center justify-content-center bg-dark">
            <a href="#">
              <p class="fs-6 text-secondary">探索<br>更多</p>
            </a>
          </div>
        </div>
      </div>
    </div>








    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>